{% extends 'base_layout.html' %}

{% block content %}

{% load static %}

<h1>Hello {{user.first_name}}</h1>

<div class="container">
    <div class="raw">
        <div class="col-md-6">
         {% for i in results %}


          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ i.image }}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ i.title }}</h5>
                  <a href="{{ i.sourceUrl }}" target="_blank" class="card-link">Original Recipe</a>
                  <p class="card-text"><small class="text-muted">{{ i.sourceName }}</small></p>
                </div>
              </div>
            </div>
          </div>



           {% endfor %}
        </div>





    </div>
</div>

{% endblock %}
