{% extends 'base_layout.html' %}

{% block content %}

{% load static %}

<h1 class="row justify-content-center">Hello {{user.first_name}}</h1>

<H2 class="row justify-content-center">What's in your fridge?</H2>
</div>
<div class="container justify-content-center p-2">
  <small>(Separate ingredients with comma)</small>
<form class="d-flex" method="post" action="{% url 'results' %}">
  {% csrf_token %}
  <input class="form-control me-1" type="search" name="ingredients" placeholder="Enter Your Ingredients" aria-label="Search">
  <button class="btn btn-outline-primary" type="submit">Search</button>
</form>
</div>

<div class="container pt-5">
  <h4 class="row justify-content-center">Recipes Just For You</h4>
</div>

<div class="container">
  <div class="row m-3">
      {% for i in recipes %}
      <div class="card mb-2 mx-2" style="width: 18rem;">
        <div class="card-header justify-content-end">
          <span class="fa fa-star checked justify-content-end"></span>
                  <span class="fa fa-star checked justify-content-end"></span>
                  <span class="fa fa-star checked justify-content-end"></span>
                  <span class="fa fa-star justify-content-end"></span>
                  <span class="fa fa-star justify-content-end"></span>
        </div>
          <a href="{% url 'recipe' i.id %}"><img src="{{i.image}}" class="card-img-top" alt="..." ></a>
          <!--<img src="{{i.image}}" class="card-img-top" alt="..." >-->
          <div class="card-body">
            <p class="card-text">{{i.title}}</p>
            <p>&#128151: {{ i.aggregateLikes }} </a></p>
          </div>
        </div>
      
        {% endfor %}
  </div>
</div>

    </div>
</div>

{% endblock %}
