{% extends 'base_layout.html' %} {% block content %}
<h1 class="text-center">SIGN-IN</h1>

<div class="container my-0">
  <form method="POST" action="">
    {% csrf_token %}
    <div class="row mb-3">
      <label for="inputemail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input
          type="email"
          class="form-control"
          id="inputemail3"
          name="email"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputpassword3" class="col-sm-2 col-form-label"
        >Password</label
      >
      <div class="col-sm-10">
        <input
          type="password"
          class="form-control"
          id="inputpassword3"
          name="password"
        />
        {% if user.is_authenticated %}
          <p>logged ins</p>
        {% else %}
          <p>Not logged in</p>
        {% endif %}   
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="submit" class="btn btn-primary">Sign-In</button>
    </div>
  </form>
</div>


{% endblock %}
