{% extends 'base_layout.html' %}

{% block content %}
        <h1>PROFILE PAGE</h1>
  
        <p>Hello {{ user.first_name }} {{user.last_name}}!</p>

        <p>Set your preferences</p>
        <input type="checkbox" id="vegonly" name="vegonly" value="vegonly">
        <label for="vegonly"> Veg only</label><br>
        <input type="checkbox" id="nobeef" name="nobeef" value="nobeef">
        <label for="nobeef"> No Beef</label><br>
        <input type="checkbox" id="nopork" name="nopork" value="nopork">
        <label for="nopork"> No Pork </label><br>



   
{% endblock %}