{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}
{% block content %}

        <h1>Hello! {{ user.first_name }}</h1>

        <div class=" content-section">
          <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
          </div>
        </div>

        <div>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">
                  Profile Information
              </legend>
              <div class="media-body">
                <p class="account-heading">Username: {{ user.username }}</p>
                <p class="text-secondary">Email: {{ user.email }}</p>
              </div>
                  {{ u_form|crispy }}
                  {{ p_form|crispy }}

          </fieldset>
          <div class="form-group m-3">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
    </div>

        <p>Set your preferences</p>
        <input type="checkbox" id="vegonly" name="vegonly" value="vegonly">
        <label for="vegonly"> Veg only</label><br>
        <input type="checkbox" id="nobeef" name="nobeef" value="nobeef">
        <label for="nobeef"> No Beef</label><br>
        <input type="checkbox" id="nopork" name="nopork" value="nopork">
        <label for="nopork"> No Pork </label><br>



   
{% endblock %}