
html{
    font-family: sans-serif ;
}

h1 {
color: blue;
}

#footer{
    color: white;
}

#home_images{
    width: 100%;
    height: 300px;
}
.rounded-circle {
    width: 100px;
    height: 100px;
    overflow: hidden;
  }
  
  .rounded-circle img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
  }