{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if webPagetitle %}
        <title>{{ webPageTitle }}</title>
        {% else %}
        <title>Home Chef</title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <script src="https://kit.fontawesome.com/26f88d0f92.js" crossorigin="anonymous"></script>
    </head>


    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">

              <a class="navbar-brand" href="{% url 'home' %}">
                  <img src="{% static 'img/hc3.3.PNG' %}" alt="logo" class="img-thumbnail">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                  </li>


                  <!--should be updated to show if logged in-->
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'tailored' %}">For You</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                  </li>

                  {% else %}

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                  </li>

                  {% endif %}
                  <!--
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Sign-In</a>
                  </li>
                  -->

                </ul>
                {% if user.is_authenticated %}
                <form class="d-flex" method="get">
                    <input class="form-control me-1" type="search" name="query" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                    <button class="btn btn-outline-primary" title="advanced search" type="submit">V</button>
                  </form>
                  {% endif %}
              </div>
            </div>
          </nav>


          <div class="container">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
             {% endif %}
          {% block content %}{% endblock %}
        </div>


    </body>

    <footer class="bg-dark text-light position-relative fixed-bottom">
        <p class="text-center py-2 my-0">
            <a href="{% url 'about' %}" class="link-outline-primary">About</a>
        </p>
        <p class="text-center py-2 my-0">
            Copyright &copy; 2022 - All rights reserved
        </p>
    </footer>
</html>
