{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home Chef</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootsrap.css' %}">
        <script src="https://kit.fontawesome.com/26f88d0f92.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <nav>
            <a href="{% url 'home' %}">home</a>
            <a href="{% url 'about' %}">about</a>
        </nav>

        {% block content %}
        
        {% endblock %}

    </body>
</html>
